<%- include('../../port/layout-top.ejs',{hasSocket:false}) %>
<%- include('./view.ejs') %>
</main>
<footer>
<%- include('../../port/navigation.ejs') %>
<%- include('../../port/layout-bottom.ejs') %>
</body>
</html>